.stories-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 45vw;
  padding-top: 1%;
  padding-left: 5vw;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .stories-container {
    display: grid;
    grid-auto-flow: row;
    width: 100vw;
    padding-left: 1vw;
    justify-content: flex-start;
  }
}