.card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 40vw;
  height: 50vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  right: 5vw;
  top: 25%;
  color: white;
}

.larger-picture {
  height: 30vh;
}

@media (max-width: 600px) {
  .card-details {
    right: 2vw;
    width: 70vw;
    top: 40%;
  }

  .story-title {
    font-size: 1em;
  }

  .story-author {
    font-size: .75em;
  }
  
  .larger-picture {
    max-width: 60vw;
    height: auto;
  }
}