.card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 40vw;
  height: 50vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  right: 5vw;
  top: 25%;
  color: white;
}

.larger-picture {
  height: 30vh;
}